body {
    min-width: 960px;
    
    font-weight: 700;
    font-size: 14px; 
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #fff;
    text-transform: uppercase;

    background: rgb(78, 75, 75) url("../img/fon.jpg") no-repeat center top;
    
}
/* фон второй страницы */
.inner-page {
    
    color: #000;

    background: #f8f5f2 url("../img/bacgraund.png") repeat;
}

.clearfix::after {
    content: "";
    
    display: table;
    clear: both;
}
.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    
    
}
.main-header {
    margin-bottom: 60px;

    color: #ffffff;

    background-color: #000;
}

.inner-page .main-header {
    margin-bottom: 55px;
}

.main-navigator {
    float: left;
    width: 780px;
    
}
.main-navigator ul {
    margin: 0;
    padding: 0;

    list-style: none;
    font-size: 0;
}

.main-navigator li {
    display: inline-block;

    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
}

.main-navigator a {
    display: block;
    padding: 25px 20px;

    color: #ffffff;
    text-decoration: none;
}

.main-navigator a:hover {
    background: #242424;
}
/* логотип */
.main-navigator .active {
    position: relative;

    background-color: none;
}
/* подчеркивание слов в главном меню */
.main-navigator .active a:hover {
    background: none;
}

.main-navigator .active::after {
    content: "";
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;

    height: 5px;

    background-color: #ffffff;
}
/* отключаем ссылки главного меню и задаём размеры */
.main-navigator .active span {
    display: block;
    padding: 25px 20px;
}

.main-navigator .logo-inner {
    float: left;
    width: 111px;
    height: 20px;
    padding-top: 22px;
}

.main-navigator .logo-inner img {
    width: 111px;
    height: 24px;
}
/* отключили подсветку при наведении */
.main-navigator .logo-inner:hover {
    background: none;
}

.user-block {
    float: right;
    max-width: 140px;
}

.enter {
    position: relative;

    display: inline-block;
    padding: 25px 20px;
    padding-left: 50px;

    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
}

.enter:hover {
    background-color: #242424;
}

.enter::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;

    width: 18px;
    height: 18px;

    background: url("../img/sprite.png") no-repeat;
    background-position: 0px 0px;
    opacity: 0.3;
}

.enter:hover::before {
    opacity: 1;
}

.index-logo {
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.index-logo img {
    width: 368px;
    height: 204px;
}
.features {
    margin-bottom: 80px;
}

.features-item {
    float: left;
    width: 300px;
    margin-right: 20px;

   text-align: center;
}

.features-item:last-child {
    margin-right: 0;
}

.features-name {
    position: relative;

    display: block;
    margin-bottom: 30px;
    padding-bottom: 35px;

    font-size: 30px;
    line-height: 42px;
}

.features-item p {
    margin: 10px;
    margin-bottom: 0;
}

.features-name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    
    background-color: #ffffff;
    transform: rotate(45deg);
}

.index-content {
    margin-bottom: 35px;
    padding: 50px 80px;

    color: #000000;

    background:
     url("../img/index-content-shadow.png") no-repeat center,
     #f8f5f2 url("../img/bacgraund.png");

}

.index-content-left {
    float: left;
    width: 380px;
   
    
}

.index-content-right{
    float: right;
    width: 300px;
    
    
}

.index-content-title {
    margin: 0;
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 42px;
}

.index-content p {
    margin: 0;
    margin-bottom: 25px;
}

.news-preview {
    margin: 0;
    padding: 0;
    padding-right: 35px;

    list-style: none;
}

.news-preview li {
    margin-bottom: 25px;
}

.news-preview p {
    margin-bottom: 0;
}

.news-preview time {
    text-transform: none;
    font-weight: 400;
}

.btn {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 33px;

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;

    background-color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover,
.btn:active {
background-color: #663d15;
}

.btn.disabled,
.btn.disabled {
    cursor: default;
    opacity: 0.5;
}

.btn.disabled:hover,
.btn.disabled:hover {
    background-color: #000000;
}

.gallery {
    position: relative;

    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;

    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery .btn {
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}

.appointment-form input {
    float: left;
    width: 106px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 7px 15px;

    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid #000000;
    outline: none;
}

.appointment-form input:focus {
    border: 2px solid #663d15;
}
/* обрезаем отступ справа */
.appointment-form input:nth-child(2n){ 
    margin-right: 0;
}

.appointment-form .btn {
    clear: both;
    width: 100%;
}

.inner-page-title {
    margin-bottom: 55px;
}

.inner-page-title h1 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;

    list-style: none;
}
/* главная прайс-лист */
.breadcrumbs li {
    position: relative;

    display: inline;
    padding-right: 40px;
}
/* создаём ромбик */
.breadcrumbs li::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 18px; 

    width: 8px;
    height: 8px;

    background-color: black;
    transform: rotate(45deg);
}

.breadcrumbs a {
    color: #000000;
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}
/* меняем цвет шрифта прайс лист */
.breadcrumbs .current {
    color: #aba9a7;
}
/* убираем у прайс листа ромб справа */
.breadcrumbs .current::after {
    display: none;
}

.inner-content {
    margin-bottom: 75px;
}

.inner-content h2 {
    margin-top: 60px;
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 30px;
}

.inner-content h3 {
    margin-top: 60px;
    margin-bottom: 30px;

    font-size: 20px;
    line-height: 24;
}

.inner-content p {
    margin: 14px 0;
}

.inner-content table {
    border-collapse: collapse;
}
/* таблица  */
.inner-content td {
    padding: 10px 15px;

    border: 2px solid #000000;
}

.big-heading {
    margin-top: 55px;
    margin-bottom: 65px;

    text-align: center;
}

.big-heading h2 {
    position: relative;
    z-index: 2;

    display: inline;
    margin: 0;
    padding: 0 25px;
    
    font-size: 48px;
    line-height: 48px;
    text-align: center;

    background: #f8f5f2 url("../img/bacgraund.png") repeat;
}

.big-heading::after {
    content: "";
    position: relative;
    top: -25px;
    z-index: 1;

    display: block;

    border-bottom: 2px solid #000000;
}

.custom-list-1 {
    margin: 14px 0;
    padding: 0;

    list-style: none;
}

.custom-list-1 li {
    position: relative;

    margin-bottom: 15px;
    padding-left: 20px;
}

.custom-list-1  li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;

    width: 8px;
    height: 8px;

    background-color: #000000;
    transform: rotate(45deg);
}

.prices-table {
    width: 100%;
}
/* растояние до рамки относительно текста */
.prices-table td {
    width: 50%;
}
/* положение текста в крайней колонке по центру */
.prices-table td:last-child {
    text-align: center;
}

.short-text {
    padding-right: 80px;
}

.inner-colums {
    margin: 60px 0;
    
}

.inner-colum-left,
.inner-colum-right {
    width: 460px;
}

.inner-column-left {
    float: left;
}

.inner-colum-right {
    float: right;
}

.inner-column-left *:first-child,
.inner-colum-right *:first-child {
    margin-top: 0;
}

.inner-column-left *:first-child,
.inner-colum-right *:first-child {
    margin-bottom: 14px;
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 140px;

    color: #ffffff;

    background: #252525 url("../img/footer.jpg");
}
/* анимация для ссылки "как нас найти" */
a.glo{
    color:#663d15;
    padding: 0px 0px;
    text-transform: uppercase;
    width:200px;
    text-decoration:none;
    text-align:center;
    margin:0px 0;
    background-image: linear-gradient(to left,transparent,transparent 50%,#663d15 50%,#663d15);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 14px  24px "PT Sans Narrow", "Arial", sans-serif;
    border: 1px solid #663d15;
   }
   a.glo:hover {
   background-position: 0 0;
   color:#fff;
   }

.footer-contacts {
float: left;
width: 320px;
margin-right: 60px;

}

.footer-contacts a {
    color: #ffffff;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
float: left;
width: 180px;

text-align: center;
}

.footer-copyright {
float: right; 
max-width: 180px;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;

    font-size: 0;
    vertical-align: top;
    text-decoration: none;

    background: #000000 url("../img/logotips.png") no-repeat center;

    transition: background-position 0.5s,
                background-color 0.5s;
}
.social-btn:hover {
    background-color: #ffffff;
}

.social-btn-vk {
    background-position: -10px -13px;
}

.social-btn-fb {
    background-position: -89px -11px;
}

.social-btn-inst {
    background-position: -167px -11px;
}

.social-btn-vk:hover {
    background-position: -10px -130px;
}

.social-btn-fb:hover {
    background-position: -89px -110px;
}

.social-btn-inst:hover {
    background-position: -167px -110px;
}

.footer-copyright p{
    margin: 0;
    margin-bottom: 15px;

    text-align: center;
}

.footer-copyright .btn {
    margin-right: 0;
}

.footer-copyright .btn:hover {
    color: #000;

    background-color: #ffffff;
}
/* Всплывающая форма */
.modal-content {
    position: absolute;
    top: 120px;
    left: 50%;
/* отключам всплывающую форму */
    display: none;
    width: 300px;
    margin-left: -230px;
    padding: 50px 80px;

    color: #000000;

    background: #f8f3f0 url("../img/bacgraund.png");
    box-shadow: 0 30px 50px rgba (0, 0, 0, 0.7);
}

.modal-content-close {
    position: absolute;
    top: 0;
    right: -34px;

    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;

    width: 19px;
    height: 3px;
    background-color: #d0d0d0;
    border-radius: 1px;
}

.modal-content-close::before {
    transform: rotate(45deg);
}

.modal-content-close::after {
    transform: rotate(-45deg);
}

.modal-content h2 {
    margin: 0;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 42px;
}

.modal-content p {
    margin: 0;
    margin-bottom: 14px;
}

.modal-content .login-form {
    margin-top: 30px;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 236px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 20px;
    padding-right: 40px;

    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid #000000;
    outline: none;
}

.login-form input:focus {
    border-color: #663d15;
}

.login-form input.icon-user {
    background-image: url("/img/sprite2.png");
    background-repeat: no-repeat;
    background-position: 95% 15px;
}

.login-form input.icon-password {
    background-image: url("/img/sprite2.png");
    background-repeat: no-repeat;
    background-position: 95% -20px;
}

.login-form .restore {
    float: right;

    color: #000;
}

.login-form .btn {
    width: 100%;
    margin-top: 15%;
}

.login-checkbox input[type="checkbox"] {
    display: none;
}

.login-checkbox {
    position: relative;

    padding-left: 30px;

    cursor: pointer;
}

.login-checkbox:hover {
    color: #663d15;
}

.login-checkbox input[type="checkbox"] +
.checkbox-indicator {
    position: absolute;
    top: -3px;
    left: 0;

    width: 17px;
    height: 17px;
    border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before, .login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 1px;

    width: 15px;
    height: 2px;

    background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(-45deg);
}